.bg-gradient-headline {
  background-image: linear-gradient(
    90deg,
    #a977c8 0%,
    #6f8cc7 54%,
    #639a47 100%
  );
}

.bg-gradient-title {
  background-image: linear-gradient(
    90deg,
    #a977c8 0%,
    #6f8cc7 9%,
    #639a47 17%,
    #1d1d1f 33%,
    #1d1d1f 66%,
    #a977c8 83%,
    #6f8cc7 92%,
    #639a47 100%
  );
}

.bg-gradient-white-red {
  background-image: linear-gradient(
    90deg,
    white 0%,
    #f1adad 31%,
    #ed8787 68%,
    #ff5858 100%
  );
}

.bg-gradient-section {
  background-image: linear-gradient(180deg, #f5f5f7 0%, white 100%);
}
.bg-gradient-section-inv {
  background-image: linear-gradient(0deg, #f5f5f7 0%, white 100%);
}

body {
  background-color: #f5f5f7;
  font-family: var(--font-inter);
}

.font-inter {
  font-family: var(--font-inter);
}
